.VideoFooter {
  position: relative;
  color: white;
  bottom: 150px;
  margin-left: 40px;
  display: flex;
}

.VideoFooter__text {
  flex: 1;
}

.VideoFooter__text > h3{
  padding-bottom: 20px;
}

.VideoFooter__text > p{
  padding-bottom: 20px;
}

.VideoFooter__icon{
  position: absolute;
}

.VideoFooter__ticker > .ticker{
  height: fit-content;
  margin-left: 30px;
  width: 60%
}

.VideoFooter__record{
  animation: spinTheRecord infinite 5s linear;
  height: 100px;
  filter: invert(1);
  position: absolute;
  bottom: 0;
  right: 20px;
}
